.question__card__answer__button {
  margin: 20px 40px;
  padding: 10px;
  background-color: azure;
  border-radius: 10px;
  border: 2px solid palevioletred;
  font-size: 1.2rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  cursor: pointer;
  color: midnightblue;
  font-weight: 400;
}

.question__card__answer__button:hover {
  background-color: blanchedalmond;
}

.question__card__answer__button--hide {
  margin: 20px 40px;
  padding: 10px;
  background-color: lightpink;
  border-radius: 10px;
  border: 2px solid azure;
  font-size: 1.2rem;
  /* flex-wrap: wrap; */
  cursor: pointer;
  color: midnightblue;
  font-weight: 400;
}
.question__card__answer__button--hide:hover {
  background-color: blanchedalmond;
}

.profile__logout__button--container {
  display: grid;
}

.profile__logout__button {
  margin: 20px 40px;
  padding: 10px;
  background-color: azure;
  border-radius: 10px;
  border: 2px solid palevioletred;
  font-size: 1.2rem;
  cursor: pointer;
  color: midnightblue;
  font-weight: 400;
}

.profile__logout__button:hover {
  background-color: blanchedalmond;
}

.form__submit__button--container {
  display: grid;
  /* display: flex;
  justify-content: center; */
}

.form__submit__button {
  margin: 20px 40px;
  padding: 10px;
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 2px solid palevioletred;
  font-size: 1.2rem;
  cursor: pointer;
  color: midnightblue;
  font-weight: 400;
}

.form__submit__button:hover {
  background-color: azure;
}

.active {
  color: rgb(21, 110, 21);
}

.hidden {
  display: none;
}
